<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta http-equiv='Content-type' content='text/html; charset=utf-8' />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../css/app.css" />
    <link href='//fonts.googleapis.com/css?family=Niconne' rel='stylesheet' type='text/css' />
    <title>dairy-life</title>
  </head>
  <body>
	<script src="../../js/build/bundle.js"></script>
	<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
  </body>
</html>